.articleDetails {
  max-height: 100%;
}

.avatar {
  margin: 0 auto 20px;
}

.title {
  margin-bottom: 20px;
}

.skeleton {
  margin-bottom: 15px;
}

.articleInfo {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.block {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}
