.app_orange_theme {
  --bg-color: #ff9421;
  --primary-color: #fbf7f4;
  --secondary-color: #f51400;
  --inverted-bg-color: #fbf7f4;
  --inverted-primary-color: #ff9421;
  --inverted-secondary-color: #f51400;

  // skeleton
  --skeleton-color: #ff9421;
  --skeleton-shadow: #cc6e03;

  // code bg
  --code-bg: #cc6e03;
}
