.Input {
  display: block;
  width: 100%;
  color: var(--primary-color);
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 5px;
}
